@import "tailwindcss";


body {
  background-color: #161b1d;
  color: #d5d5d5;
  min-height: 100dvh;
  height: 100%;
}

button,
a {
  @apply cursor-pointer;
}



.inputStyle {
  @apply py-1 px-3 bg-slate-700/35 rounded outline-0 border border-slate-500/50 focus:ring
}

.boxStyle {
  @apply drop-shadow drop-shadow-black/30 rounded backdrop-blur-2xl border bg-slate-700/35 border-slate-800
}


table td, table th {
  padding: 14px;

}

table {
  table-layout: fixed;
}

@media screen and (max-width: 600px) {

  table thead {
    display: none;

  }

  table tr {
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
  }

  table td {
    border-bottom: 2px solid #45556c;
    display: block;
    text-align: right;

  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
  }
}